<section class="ember-component">
    <h1>Ember Component</h1>
    <div>Count: {{this.count}}</div>
    {{!-- <button onclick={{action 'this.onToggleActionButton'}}>Toggle Increase Button in Container</button> --}}
</section>